<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojo Read::</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <div class="wrapper">
        {% include "navbar.html" %}
        <div class="header">
            <h5>Bienvenido: {{active_user.nombre}} </h5>
        </div>
        <br>
        <div class="container">
            {% if messages %} {% for message in messages %}
            <div class="container-fluid p-0">
                <div class="alert {{ message.tags }} alert-dismissible" role="alert">
                    {{message}}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                </div>
            </div>
            {% endfor %} {% endif %}
            <form method="post" action="{% url 'cambiar_password'%}">
                {% csrf_token %}
                <label for="pass_actual">Ingrese contraseña actual:</label>
                <input type="password" class="form-control" name="pass_actual">
                <br>
                <label for="">Ingrese su nueva contraseña:</label>
                <input type="password" class="form-control" name="pass_nueva">
                <br>
                <label for="">Repita su nueva contraseña:</label>
                <input type="password" class="form-control" name="pass_confirmacion">
                <br>
                <button type="submit" class="btn btn-primary">Cambiar</button>
            </form>
        </div>
    </div>
</body>

</html>